/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
h1 {
  font-size: 2.5rem;
  color: rgb(47, 12, 102);
}
input {
  padding: 10px 5px;
  outline: none;
  border: none;
  box-shadow: 5px 5px rgba(228, 120, 120, 0.5);
}
button {
  cursor: pointer;
}
ol {
  list-style: none;
}

/* Wrapper containing all the 3 sections */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

/* Addtask button */
#add-task-btn {
  padding: 10px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px salmon;
  margin-top: 50px;
}

#add-task-btn:active {
  box-shadow: 5px 5px 5px 5px rgba(228, 120, 120, 0.5);
}

/* Task Input section */
#task-input-section {
  background-color: rgb(202, 184, 184);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* display: grid;
  place-items: center; */
}
input {
  display: block;
  width: 75%;
  margin: auto;
}
/* Task Display Section */
#tasks-display-section {
  background-color: rgb(111, 47, 172);
  color: whitesmoke;
  text-align: center;
}

#task-list {
  counter-reset: task-counter 0;
}
.task-todo {
  width: 95%;
  text-align: left;
  box-shadow: -3px 3px 5px rgba(219, 202, 202, 0.5);
  margin-bottom: 30px;
  font-size: 1.4rem;
  padding-left: 20px;
  color: rgb(233, 227, 230);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.task-todo::before {
  content: counter(task-counter);
  counter-increment: task-counter 1;
  position: absolute;
  left: -20px;
  bottom: 0;
  z-index: 1;
}

.task-todo button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
}

/* Task Completed Section */

#tasks-completed-section {
  background-color: whitesmoke;
  color: rgb(111, 47, 172);
  text-align: center;
}

#task-list--completed {
  counter-reset: task-counter--completed 0;
}

.task-todo--completed {
  color: rgb(111, 47, 172);
}
.task-todo--completed::before {
  content: counter(task-counter--completed);
  counter-increment: task-counter--completed 1;
  position: absolute;
  left: -20px;
  bottom: 0;
  z-index: 1;
}

.task-todo--completed button {
  color: rgb(135, 102, 211);
}

/* Backdrop & MessageBox */
#backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#message-box {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  font-style: italic;
  padding: 1rem;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 25vh;
  left: calc(50% - 15rem);
}

#message-box button {
  position: absolute;
  top: -20px;
  right: -10px;
  color: red;
  font-size: 1.6rem;
  border-radius: 50%;
  border: none;
  outline: none;
}

/* Media queries to adjust fontsize for smaller screens */
@media screen and (max-width: 780px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .task-todo {
    font-size: 1.2rem;
  }
  .task-todo button {
    font-size: 1rem;
  }
}
